*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex{
  display:flex;
  align-items:center;
  justify-content: center;
}
body{
  background-color:black;
}

.main-head{
 height:480px;
 width:100%;
 background-image: url("images/bg.jpg");
 filter: brightness(150%);
 background-size:cover;
 justify-content: space-evenly;
}
.main-logo{
  height:90px;
  width:181px;
  background-image: url("images/logo.png");
  background-size:158px;
  align-items: flex-start;
  background-repeat: no-repeat;
  font-size:4rem;
  font-weight: 400;
  margin:2px 3px;
  

}
.unit{
  display:flex;
  align-items: flex-end;
}
.contain{
  justify-content: space-evenly;
}
.btn{
  padding:6px;
  font-size: 17px;
 border-radius: 4px;
 margin:-16px 9px;
 cursor:pointer;
 color:#ffff;
}

.btn-red{
  background-color:#E50914;
  border-color: #E50914;
}
.main-head{
  background-color:black;
  color:#ffffff;
 
  align-items: center;
  justify-content:center;
  align-items: flex-end;
}
.head,span{
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.mc{
 /* border:2px solid black; */
  margin:140px 12px 69px;
 height:200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.mc h2{
  font-size: 40px;
}


.email{
  margin:2px 3px;
  padding:10px;
  width:271px;
}



.mc3{
  color:white;
  
  height:340px;
  width:100%;
  flex-wrap: wrap;
}
.mc4{
  color:white;
 
  height:340px;
  width:100%;
  flex-wrap: wrap;
}
.mc5{
  color:white;

  height:340px;
  width:100%;
  flex-wrap: wrap;
 
}
.mc6{
  color:white;
  height:340px;
  width:100%;
  flex-wrap: wrap;
  align-items: flex-start;

}
.accordion {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin:3px 19px;
  display:flex;
  flex-wrap: wrap;
 
 

}

.active, .accordion:hover {
  background-color: grey; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color:black;
  overflow: hidden;
}
.em{

  align-items:flex-start;
  justify-content: center;
  margin:80px 0px;
}
.footer{
  color:white;
  height:120px;
  width:580px;
  flex-wrap: wrap;
  align-items: flex-start;

}
.mp li{
  padding:5px;
  margin: 2px 4px;
  color:white;
  text-decoration: underline;
  font-size:0.85rem;
}


.md{
 position:relative;
 bottom:23px;
}